{% extends 'partials/layout.html' %}

{% block header %}
	{% include 'partials/header.html' %}
{% endblock header %}

{% block slider %}
	{% include 'partials/slider.html' %}
{% endblock slider %}

{% block products %}
	{% include 'partials/products.html' %}
{% endblock products %}

{% block boxes %}
	{% include 'partials/boxes.html' %}
{% endblock boxes %}

{% block features %}
	{% include 'partials/features.html' %}
{% endblock features %}

{% block footer %}
	{% include 'partials/footer.html' %}
{% endblock footer %}

{% block script %}
	{% include 'partials/script.html' %}
{% endblock script %}